// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  background: rgba(70, 72, 82, 0.3);
  background: url(/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topright {
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: 18px;
}
